<!DOCTYPE html>

<html lan="zh">
    <head style="background-image: url(../pictures/ba.jpg);">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/homepage.css">
        <link rel="stylesheet" href="../css/back1.css">
    </head>
    <body >
        <!-- Navbar -->
<nav id="navbar">
    <ul class="navbar-items flexbox-col">
      <li class="navbar-logo flexbox-left">
        <a class="navbar-item-inner flexbox">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1438.88 1819.54">
            <polygon points="925.79 318.48 830.56 0 183.51 1384.12 510.41 1178.46 925.79 318.48"/>
            <polygon points="1438.88 1663.28 1126.35 948.08 111.98 1586.26 0 1819.54 1020.91 1250.57 1123.78 1471.02 783.64 1663.28 1438.88 1663.28"/>
          </svg>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a href="../templates/homepage.html" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <span class="link-text">Home</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a href="../templates/study.html"  class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <ion-icon name="study-outline"></ion-icon>
          </div>
          <span class="link-text">Study</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a href="../templates/team.html" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <ion-icon name="people-outline"></ion-icon>
          </div>
          <span class="link-text">Team</span>
        </a>
      </li>
      <li class="navbar-item flexbox-left">
        <a href="../templates/log_in_menu.html" class="navbar-item-inner flexbox-left">
          <div class="navbar-item-inner-icon-wrapper flexbox">
            <ion-icon name="log-outline"></ion-icon>
          </div>
          <span class="link-text">Game</span>
        </a>
      </li>
    </ul>
  </nav>
  
  <!-- Main -->
   <!--标题-->
   <main id="main" class="flexbox-col">
    <h2>C GEEK!</h2>
    <p>A website dedicated to teaching the C language
    </p>
  </main>
  <!--3D-->
  <div class="cube-container">
    <div class="cube">
      <div class="face front"><span>Hello</span></div>
      <div class="face back">you'll never see...</div>
      <div class="face right">World</div>
      <div class="face left">...this anyway :)</div>
      <div class="face top">coming</div>
      <div class="face bottom">I'm</div>
    </div>
  </div>
  
    <script src="../js/homepage.js"></script>
    </body>
</html>