<!DOCTYPE html>
<html lang="en">
<head>
    <title>menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pixelart</title>

    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/back_button.css">
</head>
<body>
    
    
    <div class="menu">
        <a  href="menu.html" class="small-retro back-retro">回去</a>
        <ul>
            <li><a href="level.html" class="btn-retro">考核</a></li>
            <li><a href="study/study1.html" class="btn-retro">课程</a></li>
            <li><a href="quest.html" class="btn-retro">地牢</a></li>
            <li><a href="compiler.html" class="btn-retro">刷题</a></li>
            <img id = "speaker" onclick = "play_music()" style="width: 40px; height: 40px;" src="../pictures/speaker.png">
            
        </ul>
    </div>

    <audio id="music-player" autoplay>
        <source src="../audio/index.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>


    <script src="../js/menu.js"></script>
</body>
</html>
