<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排名</title>
    <link rel="stylesheet" href="../css/ranking.css"> <!-- Link to external CSS -->
    <link rel="stylesheet" href="../css/back_button.css">
</head>
<body>
    <a  href="menu.html" class="small-retro back-retro">回去</a>
    <div class="container">
        <h4 class="title">排名</h4>
        <ul id="userList" class="user-list"></ul>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>
