<!DOCTYPE html>
<html lan="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/team.css">
        <link rel="stylesheet" href="../css/back3.css">
        <link rel="stylesheet" href="../css/back_button.css">
        
    </head>
    <body>
      <a  href="../index.html" class="small-retro music-retro">回去</a>
<div class="container">
    <div class="card-column column-0" >
      <div class="card card-color-0" id="1">
        <div class="border1"></div>
        <img src="../pictures/ckq.png" />
        <h1><strong>曹凯淇</strong></h1>
      </div>
      <div class="card card-color-2" >
        <div class="border1"></div>
        <img src="../pictures/jwh.jpg" />
      
        <h1><strong>居雯惠</strong></h1>
      </div>
      <div class="card card-color-4" >
        <div class="border1"></div>
        <img src="../pictures/zhy.jpg" />
        
        <h1><strong>郑寒耀</strong></h1>
      </div>
    </div>
    <div class="card-column column-1">
        <div class="card card-color-1">
            <div class="border1"></div>
            <img src="../pictures/lxy.jpg" />
            <h1><strong>刘欣怡</strong></h1>
          </div>
      <div class="card card-color-3" >
        <div class="border1"></div>
        <img src="../pictures/bqy.jpg" />
        <h1><strong>白钦羽</strong></h1>
      </div>
    </div>
  </div>
  
  <div id="cover" class="cover"></div>
  
  <div id="open-content" class="open-content">
    <a href="#" id="close-content" class="close-content"><span class="x-1"></span><span class="x-2"></span></a>
    <img id="open-content-image" src="" />
    <div class="text" id="open-content-text">
    </div>
  </div>
        <script src="../js/team.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
</html>