<!DOCTYPE html>
<html>
    <head>
        <title>函数</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/study.css">
        <link rel="stylesheet" href="../../css/prism.css">
        <link rel="stylesheet" href="../../css/back_button.css">
        <link rel="stylesheet" href="../../css/pauseMenu.css">
    </head>
    <body style="font-family: HZKPixel;">
        <!-- Pause Button -->
      <audio id="music-player" autoplay>
        <source src="../../audio/question.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Pause Menu -->
    <button id="show-pause-menu" class="btn-retro">||</button>

    <!-- Pause Menu -->
    <div id="pause-menu" class="menu" style="display: none;">
        <h2>Paused</h2>
        <ul>
            <li><button onclick="togglePauseMenu()" class="btn-retro">Resume</button></li>
            <li><a id="music_button" onclick="play_music()" class="btn-retro">音乐</a></li>
            <li><a  href="../menu_experience.html" class="btn-retro">放弃</a></li>
            <li><a  id="logoutButton" onclick="handleLogout()" class="btn-retro">登出</a></li>
            
        </ul>
    </div>
      <div class="parent">
        <div class="child">
          <div class="row">
            <div class="col-1"  >
              <button class="dropdown-button" data-menu="menu1">介绍&darr;</button>
                <div id="menu1" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study1.html">C 教程</a>
                <a class="btn-retro" href="../../templates/study/study2.html">程序结构</a>
                <a class="btn-retro" href="../../templates/study/study3.html">基础语法</a>
                <a class="btn-retro" href="../../templates/study/study4.html">数据类型</a>
                </div>
                <button class="dropdown-button" data-menu="menu2">基础&darr;</button>
                <div id="menu2" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study5.html">变量</a>
                <a class="btn-retro" href="../../templates/study/study6.html">常量</a>
                <a class="btn-retro" href="../../templates/study/study7.html">存储类</a>
                <a class="btn-retro" href="../../templates/study/study8.html">运算符</a>
                <a class="btn-retro" href="../../templates/study/study9.html">判断</a>
                </div>
                <button class="dropdown-button" data-menu="menu3">进阶&darr;</button>
                <div id="menu3" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study10.html">循环</a>
                <a class="btn-retro" href="../../templates/study/study11.html">函数</a>
                <a class="btn-retro" href="../../templates/study/study12.html">作用域</a>
                <a class="btn-retro" href="../../templates/study/study13.html">数组</a>
                <a class="btn-retro" href="../../templates/study/study14.html">枚举</a>
                <a class="btn-retro" href="../../templates/study/study15.html">指针</a>
                <a class="btn-retro" href="../../templates/study/study16.html">字符串</a>
                <a class="btn-retro" href="../../templates/study/study17.html">结构体</a>
                </div>
            </div>

            <div class="col-9">
              <h5>C 函数</h5>
              <p>函数是一组一起执行一个任务的语句。每个 C 程序都至少有一个函数，即主函数 main() ，所有简单的程序都可以定义其他额外的函数。

                您可以把代码划分到不同的函数中。如何划分代码到不同的函数中是由您来决定的，但在逻辑上，划分通常是根据每个函数执行一个特定的任务来进行的。
                
                函数声明告诉编译器函数的名称、返回类型和参数。函数定义提供了函数的实际主体。
                
                C 标准库提供了大量的程序可以调用的内置函数。例如，函数 strcat() 用来连接两个字符串，函数 memcpy() 用来复制内存到另一个位置。
                
                函数还有很多叫法，比如方法、子例程或程序，等等。</p>
                <hr>
                <h5>定义函数</h5>
                <p>C 语言中的函数定义的一般形式如下：</p>
                <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="code-block">                                        <pre><code class="language-clike">
                            return_type function_name( parameter list )
                            {
                               body of the function
                            }
                            
              
                              </code></pre>
                          </div>
                      </div>
                  </div>
              </div>
              <p>在 C 语言中，函数由一个函数头和一个函数主体组成。下面列出一个函数的所有组成部分：</p>
              <ul>
                <li>返回类型：一个函数可以返回一个值。return_type 是函数返回的值的数据类型。有些函数执行所需的操作而不返回值，在这种情况下，return_type 是关键字 void。</li>
                <li>函数名称：这是函数的实际名称。函数名和参数列表一起构成了函数签名。</li>
                <li>参数：参数就像是占位符。当函数被调用时，您向参数传递一个值，这个值被称为实际参数。参数列表包括函数参数的类型、顺序、数量。参数是可选的，也就是说，函数可能不包含参数。</li>
                <li>函数主体：函数主体包含一组定义函数执行任务的语句。</li>
    
              </ul>
              <p>以下是 max() 函数的源代码。该函数有两个参数 num1 和 num2，会返回这两个数中较大的那个数：</p>
              <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="code-block">                                        <pre><code class="language-clike">
                          /* 函数返回两个数中较大的那个数 */
                          int max(int num1, int num2) 
                          {
                             /* 局部变量声明 */
                             int result;
                           
                             if (num1 > num2) {
                                result = num1;
                             } else {
                                result = num2;
                             }
                             return result; 
                          }
            
                            </code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h5>函数声明</h5>
            <p>函数声明会告诉编译器函数名称及如何调用函数。函数的实际主体可以单独定义。

              函数声明包括以下几个部分：</p>
              <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="code-block">                                        <pre><code class="language-clike">
                          return_type function_name( parameter list );

            
                            </code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <p>针对上面定义的函数 max()，以下是函数声明：</p>
            <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="code-block">                                        <pre><code class="language-clike">
                        int max(int num1, int num2);

          
                          </code></pre>
                      </div>
                  </div>
              </div>
          </div>
          <p>在函数声明中，参数的名称并不重要，只有参数的类型是必需的，因此下面也是有效的声明：</p>
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="code-block">                                        <pre><code class="language-clike">
                      int max(int, int);

        
                        </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <p>当您在一个源文件中定义函数且在另一个文件中调用函数时，函数声明是必需的。在这种情况下，您应该在调用函数的文件顶部声明函数。</p>
        <hr>
        <h5>调用函数</h5>
        <p>创建 C 函数时，会定义函数做什么，然后通过调用函数来完成已定义的任务。

          当程序调用函数时，程序控制权会转移给被调用的函数。被调用的函数执行已定义的任务，当函数的返回语句被执行时，或到达函数的结束括号时，会把程序控制权交还给主程序。
          
          调用函数时，传递所需参数，如果函数返回一个值，则可以存储返回值。例如：</p>
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="code-block">                                        <pre><code class="language-clike">
                        #include &lt;stdio.h&gt
                        
 
                          /* 函数声明 */
                          int max(int num1, int num2);
                           
                          int main ()
                          {
                             /* 局部变量定义 */
                             int a = 100;
                             int b = 200;
                             int ret;
                           
                             /* 调用函数来获取最大值 */
                             ret = max(a, b);
                           
                             printf( "Max value is : %d\n", ret );
                           
                             return 0;
                          }
                           
                          /* 函数返回两个数中较大的那个数 */
                          int max(int num1, int num2) 
                          {
                             /* 局部变量声明 */
                             int result;
                           
                             if (num1 > num2)
                                result = num1;
                             else
                                result = num2;
                           
                             return result; 
                          }
                        </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <p>把 max() 函数和 main() 函数放一块，编译源代码。当运行最后的可执行文件时，会产生下列结果：

          Max value is : 200</p>
          <hr>
          <h5>函数参数</h5>
          <p>如果函数要使用参数，则必须声明接受参数值的变量。这些变量称为函数的形式参数。

            形式参数就像函数内的其他局部变量，在进入函数时被创建，退出函数时被销毁。
            
            当调用函数时，有两种向函数传递参数的方式：</p>
            <p>传值调用	该方法把参数的实际值复制给函数的形式参数。在这种情况下，修改函数内的形式参数不会影响实际参数。</p>
            <p>引用调用	通过指针传递方式，形参为指向实参地址的指针，当对形参的指向操作时，就相当于对实参本身进行的操作。</p>
            <p>默认情况下，C 使用传值调用来传递参数。一般来说，这意味着函数内的代码不能改变用于调用函数的实际参数。</p>
            </div>
          </div>
        </div>
    </div>
    <script src="../../js/pauseMenu.js"></script>
    <script src="../../js/study.js" ></script>
        <script src="../../js/bootstrap.js" defer></script>
        <script src="../../js/prism.js"></script>
    </body>
</html>