<!DOCTYPE html>
<html>
    <head>
        <title>常量</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/study.css">
        <link rel="stylesheet" href="../../css/prism.css">
        <link rel="stylesheet" href="../../css/back_button.css">
        <link rel="stylesheet" href="../../css/pauseMenu.css">
    </head>
    <body style="font-family: HZKPixel;">
        
        <!-- Pause Button -->
    <audio id="music-player" autoplay>
        <source src="../../audio/question.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Pause Menu -->
    <button id="show-pause-menu" class="btn-retro">||</button>

    <!-- Pause Menu -->
    <div id="pause-menu" class="menu" style="display: none;">
        <h2>Paused</h2>
        <ul>
            <li><button onclick="togglePauseMenu()" class="btn-retro">Resume</button></li>
            <li><a id="music_button" onclick="play_music()" class="btn-retro">音乐</a></li>
            <li><a  href="../menu_experience.html" class="btn-retro">放弃</a></li>
            <li><a  id="logoutButton" onclick="handleLogout()" class="btn-retro">登出</a></li>
            
        </ul>
    </div>

      <div class="parent">
        <div class="child">
          <div class="row">
            <div class="col-1"  >
                <button class="dropdown-button" data-menu="menu1">介绍&darr;</button>
                <div id="menu1" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study1.html">C 教程</a>
                <a class="btn-retro" href="../../templates/study/study2.html">程序结构</a>
                <a class="btn-retro" href="../../templates/study/study3.html">基础语法</a>
                <a class="btn-retro" href="../../templates/study/study4.html">数据类型</a>
                </div>
                <button class="dropdown-button" data-menu="menu2">基础&darr;</button>
                <div id="menu2" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study5.html">变量</a>
                <a class="btn-retro" href="../../templates/study/study6.html">常量</a>
                <a class="btn-retro" href="../../templates/study/study7.html">存储类</a>
                <a class="btn-retro" href="../../templates/study/study8.html">运算符</a>
                <a class="btn-retro" href="../../templates/study/study9.html">判断</a>
                </div>
                <button class="dropdown-button" data-menu="menu3">进阶&darr;</button>
                <div id="menu3" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study10.html">循环</a>
                <a class="btn-retro" href="../../templates/study/study11.html">函数</a>
                <a class="btn-retro" href="../../templates/study/study12.html">作用域</a>
                <a class="btn-retro" href="../../templates/study/study13.html">数组</a>
                <a class="btn-retro" href="../../templates/study/study14.html">枚举</a>
                <a class="btn-retro" href="../../templates/study/study15.html">指针</a>
                <a class="btn-retro" href="../../templates/study/study16.html">字符串</a>
                <a class="btn-retro" href="../../templates/study/study17.html">结构体</a>
                </div>
            </div>

            <div class="col-9">
                <h5>C 常量</h5>
                <p>常量是固定值，在程序执行期间不会改变。这些固定的值，又叫做字面量。

                    常量可以是任何的基本数据类型，比如整数常量、浮点常量、字符常量，或字符串字面值，也有枚举常量。
                    
                    常量就像是常规的变量，只不过常量的值在定义后不能进行修改。
                    
                    常量可以直接在代码中使用，也可以通过定义常量来使用。</p>
                    <hr>
                    <h5>整数常量</h5>
                    <p>整数常量可以是十进制、八进制或十六进制的常量。前缀指定基数：0x 或 0X 表示十六进制，0 表示八进制，不带前缀则默认表示十进制。

                        整数常量也可以带一个后缀，后缀是 U 和 L 的组合，U 表示无符号整数（unsigned），L 表示长整数（long）。后缀可以是大写，也可以是小写，U 和 L 的顺序任意。
                        
                        下面列举几个整数常量的实例：</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="code-block">                                        <pre><code class="language-clike">
                                        212         /* 合法的 */
215u        /* 合法的 */
0xFeeL      /* 合法的 */
078         /* 非法的：8 不是八进制的数字 */
032UU       /* 非法的：不能重复后缀 */

                        
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>以下是各种类型的整数常量的实例：</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="code-block">                                        <pre><code class="language-clike">
                                        85         /* 十进制 */
0213       /* 八进制 */
0x4b       /* 十六进制 */
30         /* 整数 */
30u        /* 无符号整数 */
30l        /* 长整数 */
30ul       /* 无符号长整数 */

                        
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>整数常量可以带有一个后缀表示数据类型，例如：</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="code-block">                                        <pre><code class="language-clike">
                                        int myInt = 10;
long myLong = 100000L;
unsigned int myUnsignedInt = 10U;
                        
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>浮点常量</h5>
                        <p>浮点常量由整数部分、小数点、小数部分和指数部分组成。您可以使用小数形式或者指数形式来表示浮点常量。

                            当使用小数形式表示时，必须包含整数部分、小数部分，或同时包含两者。当使用指数形式表示时， 必须包含小数点、指数，或同时包含两者。带符号的指数是用 e 或 E 引入的。
                            
                            下面列举几个浮点常量的实例：</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="code-block">                                        <pre><code class="language-clike">
                                            3.14159       /* 合法的 */
                                            314159E-5L    /* 合法的 */
                                            510E          /* 非法的：不完整的指数 */
                                            210f          /* 非法的：没有小数或指数 */
                                            .e55          /* 非法的：缺少整数或分数 */
                                            
                            
                                            </code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>浮点数常量可以带有一个后缀表示数据类型，例如：</p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="code-block">                                        <pre><code class="language-clike">
                                            float myFloat = 3.14f;
double myDouble = 3.14159;
                            
                                            </code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>字符常量</h5>
                            <p>字符常量是括在单引号中，例如，'x' 可以存储在 char 类型的简单变量中。

                                字符常量可以是一个普通的字符（例如 'x'）、一个转义序列（例如 '\t'），或一个通用的字符（例如 '\u02C0'）。
                                
                                在 C 中，有一些特定的字符，当它们前面有反斜杠时，它们就具有特殊的含义，被用来表示如换行符（\n）或制表符（\t）等。</p>
                                <p>下面的实例显示了一些转义序列字符：</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="code-block">                                        <pre><code class="language-clike">
                                                #include &lt;stdio.h&gt
                                              
 
                                                    int main()
                                                    {
                                                       printf("Hello\tWorld\n\n");
                                                     
                                                       return 0;
                                                    }
                                                </code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>当上面的代码被编译和执行时，它会产生下列结果：

                                    Hello   World</p>
                                    <p>字符常量的 ASCII 值可以通过强制类型转换转换为整数值。</p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="code-block">                                        <pre><code class="language-clike">
                                                    char myChar = 'a';
int myAsciiValue = (int) myChar; // 将 myChar 转换为 ASCII 值 97
                                    
                                                    </code></pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            <h5>字符串常量</h5>
            <p>字符串字面值或常量是括在双引号 " " 中的。一个字符串包含类似于字符常量的字符：普通的字符、转义序列和通用的字符。

                您可以使用空格做分隔符，把一个很长的字符串常量进行分行,字符串常量在内存中以 null 终止符 \0 结尾。
                
                下面的实例显示了一些字符串常量。下面这三种形式所显示的字符串是相同的。</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="code-block">                                        <pre><code class="language-clike">
                                char myString[] = "Hello, world!"; //系统对字符串常量自动加一个 '\0'
                
                                </code></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <h5>定义常量</h5>
                <p>在 C 中，有两种简单的定义常量的方式：</p>
                <ol>
                    <li>使用 #define 预处理器： #define 可以在程序中定义一个常量，它在编译时会被替换为其对应的值。</li>
                    <li>使用 const 关键字：const 关键字用于声明一个只读变量，即该变量的值不能在程序运行时修改。</li>
                </ol>
                <h6>#define 预处理器</h6>
                <p>下面是使用 #define 预处理器定义常量的形式：</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="code-block">                                        <pre><code class="language-clike">
                                #define PI 3.14159
                
                                </code></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <p>具体请看下面的实例：</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="code-block">                                        <pre><code class="language-clike">
                                #include &lt;stdio.h&gt
                               
 
                                    #define LENGTH 10   
                                    #define WIDTH  5
                                    #define NEWLINE '\n'
                                     
                                    int main()
                                    {
                                     
                                       int area;  
                                      
                                       area = LENGTH * WIDTH;
                                       printf("value of area : %d", area);
                                       printf("%c", NEWLINE);
                                     
                                       return 0;
                                    }
                                </code></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <p>当上面的代码被编译和执行时，它会产生下列结果：

                    value of area : 50</p>
                    <h6>const 关键字</h6>
                    <p>您可以使用 const 前缀声明指定类型的常量，如下所示：

                        const 数据类型 常量名 = 常量值;</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="code-block">                                        <pre><code class="language-clike">
                                        const int MAX_VALUE = 100;
                        
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="code-block">                                        <pre><code class="language-clike">
                                        #include &lt;stdio.h&gt
                                    
 
                                            int main()
                                            {
                                               const int  LENGTH = 10;
                                               const int  WIDTH  = 5;
                                               const char NEWLINE = '\n';
                                               int area;  
                                               
                                               area = LENGTH * WIDTH;
                                               printf("value of area : %d", area);
                                               printf("%c", NEWLINE);
                                             
                                               return 0;
                                            }
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>当上面的代码被编译和执行时，它会产生下列结果：

                            value of area : 50
                            请注意，把常量定义为大写字母形式，是一个很好的编程习惯。</p>
                            <h6>#define 与 const 区别</h6>
                            <p>#define 与 const 这两种方式都可以用来定义常量，选择哪种方式取决于具体的需求和编程习惯。通常情况下，建议使用 const 关键字来定义常量，因为它具有类型检查和作用域的优势，而 #define 仅进行简单的文本替换，可能会导致一些意外的问题。</p>
            </div>
          </div>
        </div>
    </div>
    <script src="../../js/pauseMenu.js"></script>
    <script src="../../js/study.js" ></script>
        <script src="../../js/bootstrap.js" defer></script>
        <script src="../../js/prism.js"></script>
    </body>
</html>