<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancient Scroll Story</title>
    <link rel="stylesheet" href="../../css/pauseMenu.css">
    <link rel="stylesheet" href="../../css/story.css">
</head>
<body>

    <!-- Pause Button -->
    <audio id="music-player" autoplay>
        <source src="../audio/index.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Pause Menu -->

    <!-- Pause Menu -->
    <div id="pause-menu" class="menu" style="display: none;">
        <h2>Paused</h2>
        <ul>
            <li><button onclick="togglePauseMenu()" class="btn-retro">Resume</button></li>
            <li><a id="music_button" onclick="play_music()" class="btn-retro">音乐</a></li>
            <li><a  href="../menu_experience.html" class="btn-retro">放弃</a></li>
            <li><a  id="logoutButton" onclick="handleLogout()" class="btn-retro">登出</a></li>
            
        </ul>
    </div>

    <div class="scroll-wrapper">
        
        <div class="scroll-top">
            <div class="scroll-curl"></div>
        </div>
        
        <div class="scroll-container">
            <button id="show-pause-menu" class="btn-retro">||</button>
            <h1 class="scroll-title">开端</h1>
            <p class="scroll-text">
                <p>市中心医院——</p>
        <p>“快，马上安排洗胃！”</p>
        <p>我迷迷糊糊地感受着头顶刺眼的灯光，身边人焦急地呼喊在我脑中碰撞，耳边的阵阵耳鸣让我难受不已。喉间被插入一根粗管，药水导入，我的身体变得轻飘飘的，之后便失去了意识。</p>
        <p>我叫陈煦缘，一个普通青年，标准的都市社畜，在一家互联网公司是个最底层的程序员，工作普普通通，工资不高不低，生活乏味单调。日常就是熬夜加班到凌晨，拖着疲惫的身体回到只有十几平米的出租屋。不规律的作息，忙碌的生活，我总是蓬头垢面地坐在电脑前，也很少外出社交。机械苦闷的日常，独来独往的孤单，看不到希望和尽头的生活，忧郁的无解和无穷的内耗使我失去了对生命的期待。</p>
        <p>终于，我在今晚饮下了农药，终于，这一切痛苦都要结束了。</p>
        <p>生活好难……工作好难……程序员好难……是不是我在大学的时候好好学编程，出社会就能找份好工作，就能过上理想的生活了。可是……这一切已经没有机会实现了。</p>
        <p>强光照射着我的眼睛，一阵眩晕感猛烈袭来。嘶——我还没死！？我缓慢睁开了眼，终于看清了周围的环境，明晃晃的太阳下，我正身着粗布躺在一片树林中....啊？这给我干哪来了？我不是在医院吗？突然一辆马车疾驰而过，黄沙散去，我才发现顺着旁边的道路不远就有一座村落。等等，马车！这是啥影视城吗？我对着陌生的一切都感到惶恐，但仅存的理智尽力让我冷静下来，正好我又饿又渴，先到前面的村子里找点吃的吧。</p>
        <p>走进村子，眼前的场景却不像我预想的那样。空荡的街道上散落着瓦砾与遗弃的农具，几处残垣断壁中的桌椅歪歪扭扭，零零散散还有些身影或扶老携幼，或孤身一人，背着包裹一脸恐惧又无奈地离开。这个地方仿佛经历了什么事情，已被人们抛弃。这，好像并不是在演戏，我，好像，真的穿越了！这时我看见一个身着破烂的老头在街上摇摇晃晃地走着，急忙想过去问问这是怎么回事。</p>
        <p>我刚想靠近他，他却先注意到我的存在，一双浑浊的眼珠将我全身上下打量个遍，看得我心里发毛。终于他大笑着说：</p>
        <p>“灵力削弱，妖魔降世，我们都要完了哈哈哈哈哈哈！”</p>
        <p>我一怔，急忙上前拉住他的胳膊，问道：</p>
        <p>“大爷，这地方是怎么回事啊？”</p>
        <p>他虚了虚眼睛，一脸神秘地说：“自从百年前码帝封印了巴格怪，我们过了许多年的安稳生活，但这也使得修仙逐渐淡出了人们的视线。”</p>
        <p>“啥？修仙？”</p>
        <p>他看了我一眼，点了点头：“修仙者通过修炼来提升自己的境界，而修炼主要有两个途径：悟道，和编程。所谓悟道，就是参悟宇宙的奥秘，领悟天地法则，从而增强自身灵力。而编程，就是运用特殊的灵力语言，编写能够操纵现实的代码。运行这些代码，可以快速提升修为。”</p>
        <p>他突然停了下来，长长地叹息一声：“可这些年，有心去修炼与有天赋的人越来越少。并且，这几年码帝的灵力逐渐减弱了，当年被封印的怪物们也逐渐猖狂起来，尤其这灵山下首当其冲。”</p>
        <p>“那，这灵山上是有啥东西引来这么多怪物呢？”我好奇地问。</p>
        <p>“修仙者们分了很多门派，像什么python一族，Java一族，而这灵山上则是神秘的C语言一族——C-GEEK，他们每年有一半的时间都在山顶禅修，与世隔绝。当年封印巴格怪的码帝便出自灵山一派，又恰逢封印松动，C-GEEK禅修，怪物们便想钻这个空子，包围灵山并屠灭此地，报仇雪恨。”</p>
        <p>听完这一切，我又冷静了下来。我对这里的事情才刚了解，毫无修为，该怎么去对付怪物们呢。这整个村子的人都流离四散，没有一个人留下来对付怪物，我一个初来乍到的白痴又拿什么去应对呢？</p>
        <p>“年轻人，你不属于这里。”老头直直地盯着我，深不可测的眼眸读不出情绪。</p>
        <p>“这不是你该待的地方，尽快到灵山顶，那里才会有你未来的答案。”他拿出一本古朴苍苍的书，“这本《C语言修炼宝典》会对你有帮助。”之后便头也不回地快步走了。</p>
        <p>我站在原地思索良久。</p>
        <p>最终，我决定在村子里待上几天，搜集物资的同时阅读宝典入门，之后再开启登山修仙之旅。</p>
            
        </div>

        <!-- Scroll bottom decoration -->
        <div class="scroll-bottom">
            <div class="scroll-curl"></div>
        </div>
    </div>
    <script src="../../js/pauseMenu.js"></script>
</body>
</html>
