<!DOCTYPE html>
<html>
    <head>
        <title>基础语法</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/study.css">
        <link rel="stylesheet" href="../../css/prism.css">
        <link rel="stylesheet" href="../../css/back_button.css">
        <link rel="stylesheet" href="../../css/pauseMenu.css">
    </head>
    <body style="font-family: HZKPixel;">
        

        <!-- Pause Button -->
    <audio id="music-player" autoplay>
        <source src="../../audio/question.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Pause Menu -->
    <button id="show-pause-menu" class="btn-retro">||</button>

    <!-- Pause Menu -->
    <div id="pause-menu" class="menu" style="display: none;">
        <h2>Paused</h2>
        <ul>
            <li><button onclick="togglePauseMenu()" class="btn-retro">Resume</button></li>
            <li><a id="music_button" onclick="play_music()" class="btn-retro">音乐</a></li>
            <li><a  href="../menu_experience.html" class="btn-retro">放弃</a></li>
            <li><a  id="logoutButton" onclick="handleLogout()" class="btn-retro">登出</a></li>
            
        </ul>
    </div>

      <div class="parent">
        <div class="child">
          <div class="row">
            <div class="col-1" >
                <button class="dropdown-button" data-menu="menu1">介绍&darr;</button>
                <div id="menu1" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study1.html">C 教程</a>
                <a class="btn-retro" href="../../templates/study/study2.html">程序结构</a>
                <a class="btn-retro" href="../../templates/study/study3.html">基础语法</a>
                <a class="btn-retro" href="../../templates/study/study4.html">数据类型</a>
                </div>
                <button class="dropdown-button" data-menu="menu2">基础&darr;</button>
                <div id="menu2" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study5.html">变量</a>
                <a class="btn-retro" href="../../templates/study/study6.html">常量</a>
                <a class="btn-retro" href="../../templates/study/study7.html">存储类</a>
                <a class="btn-retro" href="../../templates/study/study8.html">运算符</a>
                <a class="btn-retro" href="../../templates/study/study9.html">判断</a>
                </div>
                <button class="dropdown-button" data-menu="menu3">进阶&darr;</button>
                <div id="menu3" class="dropdown-content">
                <a class="btn-retro" href="../../templates/study/study10.html">循环</a>
                <a class="btn-retro" href="../../templates/study/study11.html">函数</a>
                <a class="btn-retro" href="../../templates/study/study12.html">作用域</a>
                <a class="btn-retro" href="../../templates/study/study13.html">数组</a>
                <a class="btn-retro" href="../../templates/study/study14.html">枚举</a>
                <a class="btn-retro" href="../../templates/study/study15.html">指针</a>
                <a class="btn-retro" href="../../templates/study/study16.html">字符串</a>
                <a class="btn-retro" href="../../templates/study/study17.html">结构体</a>
                </div>
            </div>

            <div class="col-10">
                <h5>C 基础语法</h5>
                <p>C 语言是一种通用的编程语言，广泛应用于系统编程、嵌入式开发和高性能计算等领域。

                    C 语言具有高效、灵活、可移植性强等特点，是许多其他编程语言的基础。
                    
                    在 C 语言中，令牌（Token）是程序的基本组成单位，编译器通过对源代码进行词法分析，将代码分解成一个个的令牌。</p>
                    <p>C 语言的令牌主要包括以下几种类型：</p>
                    <ul>
                        <li>关键字</li>
                        <li>标识符</li>
                        <li>字面量</li>
                        <li>分隔符</li>
                        <li>运算符</li>
                        <li>注释</li>
                    </ul>
              <h5>分隔符</h5>
              <p>分隔符用于分隔语句和表达式，常见的分隔符包括：</p>
              <ul>
                <li>分号 (;)：表示一个完整的语句结束</li>
                <li>逗号 (,)：表示列表中多个项的分隔</li>
                <li>分支分隔符 (例如 if, else, switch, for, while, do, goto)：表示一个分支或循环的结束</li>
                <li>循环分隔符 (例如 continue, break)：表示一个循环的结束</li>
                <li>函数分隔符 (例如 return)：表示一个函数的结束</li>
                <li>左大括号 ({)：表示一个代码块的开始</li>
                <li>右大括号 (})：表示一个代码块的结束</li>
                <li>圆括号 (())：表示函数调用和数组下标</li>
                <li>方括号 ([])：表示数组声明和取值</li>
              </ul>
              <h5>注释</h5>
              <p>C 语言有两种注释方式</p>
              <p>以 // 开始的单行注释，这种注释可以单独占一行。</p>
              <p>以 /* 开始和 */ 结束的多行注释，可以跨多行。</p>
              <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="code-block">                                        <pre><code class="language-clike">
                            /* 单行注释 */
/* 
 多行注释
 多行注释
 多行注释
 */

            
                            </code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <p>您不能在注释内嵌套注释，注释也不能出现在字符串或字符值中。</p>
            <h5>标识符</h5>
            <p>标识符是程序中变量、函数、数组等的名字。标识符由字母（大写或小写）、数字和下划线组成，但第一个字符必须是字母或下划线，不能是数字。

                一个标识符以字母 A-Z 或 a-z 或下划线 _ 开始，后跟零个或多个字母、下划线和数字（0-9）。
                
                C 标识符内不允许出现标点字符，比如 @、$ 和 %。C 是区分大小写的编程语言。因此，在 C 中，Manpower 和 manpower 是两个不同的标识符。下面列出几个有效的标识符：</p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="code-block">                                        <pre><code class="language-clike">
                                mohd       zara    abc   move_name  a_123
myname50   _temp   j     a23b9      retVal

                
                                </code></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <h5>常量</h5>
                <p>常量是固定值，在程序执行期间不会改变。

                    常量可以是整型常量、浮点型常量、字符常量、枚举常量等。</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="code-block">                                        <pre><code class="language-clike">
                                    const int MAX = 100;  // 整型常量
const float PI = 3.14;  // 浮点型常量
const char NEWLINE = '\n';  // 字符常量
                    
                                    </code></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>字符串字面量</h5>
                    <p>字符串字面量是由双引号括起来的字符序列。

                        字符串末尾会自动添加一个空字符 \0。</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="code-block">                                        <pre><code class="language-clike">
                                        char greeting[] = "Hello, World!";
                                        </code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>运算符</h5>
                        <p>运算符用于执行各种操作，如算术运算、逻辑运算、比较运算等。

                            C 语言中的运算符种类繁多，常见的包括：</p>
                            <ul>
                                <li>算术运算符 (+, -, *, /, %)</li>
                                <li>赋值运算符 (=, +=, -=, *=, /=, %=)</li>
                                <li>位运算符 (&, |, ~, ^, <<, >>, >>>)</li>
                                <li>关系运算符 (==,!=, >, <, >=, <=)</li>
                                <li>逻辑运算符 (&&, ||,!,? :)</li>
                                <li>条件运算符 (? :)</li>
                                <li>sizeof 运算符</li>
                                <li>类型转换运算符 (cast)</li>
                            </ul>
            </div>
          </div>
        </div>
    </div>
    <script src="../../js/pauseMenu.js"></script>
    <script src="../../js/study.js" ></script>
        <script src="../../js/bootstrap.js" defer></script>
        <script src="../../js/prism.js"></script>
    </body>
</html>