<!DOCTYPE html>
<html lang="zh">
<head>
    <title>log_in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/log_in.css">
</head>
<body>
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
                <input type="checkbox" class="toggle" id="toggleFlip">
                <span class="slider"></span>
                <span class="card-side"></span>
                <div class="flip-card__inner">
                    <div class="flip-card__front">
                        <div class="title">log_in</div>
                        <form id="logInForm" class="flip-card__form" action="">
                            <input required id="username" class="flip-card__input" placeholder="Name" type="name">
                            <input required id="password" class="flip-card__input" name="password" placeholder="Password" type="password">
                            <button class="flip-card__btn">Let`s go!</button>
                        </form>
                    </div>
                    <div class="flip-card__back">
                        <div class="title">sign_in</div>
                        <form id="signInForm" class="flip-card__form" action="">
                            <input required id="s_username" class="flip-card__input" placeholder="Name" type="name">
                            <input required id="s_password" class="flip-card__input" name="password" placeholder="Password" type="password">
                            <button class="flip-card__btn">Confirm!</button>
                        </form>
                    </div>
                </div>
            </label>
        </div> 
   
        
    </div>
     
    <script src="../js/index.js"></script>
</body>
</html>
